<div class="container">
    <div class="row">
        <div class="box">
            <div class="intro-text text-center col-lg-12">
                <hr />
                <h3>
                    Rosana Ruiz</h3>
                <h4>
                    Software Developer</h4>
                <hr />
            </div>
            <div class="col-lg-12">
                <p class="text-center">
                    ♥ I enjoy interacting with people
                    <br>
                    ► Geek speaker and coding lover
                    <br>
                    ♫ Almost all music styles listener
                    <br>
                    ○ Addicted to sports<br>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="box">
            <div class="intro-text text-center col-lg-12">
                <hr />
                <h4>What I'm talking about</h4>
                <hr />
                <a class="twitter-timeline" href="https://twitter.com/Totemika" data-widget-id="315921381193826305">Tweets por el @Totemika.</a>

            </div>
        </div>
    </div>
</div>